html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;

  background:
    linear-gradient(rgba(11,15,26,0.2), rgba(11,15,26,0.2)),
    url("../images/login-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}