    # Virtual environment
    .venv/
    venv

    # IDE
.idea/
.vscode/

    # Python cache
    __pycache__/
    *.pyc

    # Database
    *.db
    .DS_Store

    # Env file
    .env
    .idea/

event-booking-api/.venv/
event-booking-api/.idea/
event-booking-api/__pycache__/
event-booking-api/*.db
event-booking-api/.env

**/__pycache__/
*.pyc

.venv/
.env
events.db
*.db
__pycache__/
*.pyc